header {
    background-color: #232536;
    height: 80px;

    .navbar_list {

        .list_item {
            text-decoration: none;
            list-style: none;
            color: #fff;
        }

        .login {
            width: 147px;
            height: 56px;
            background-color: #fff;
            border: none;
        }

    }
}