main {
    .container {
        input {
            width: 769px;
            height: 76px;
        }

        button {
            color: #000;
            width: 769px;
            height: 76px;

        }

    }
}

.hero {
    height: 720px;
    color: #fff;

    .btn {
        width: 204px;
        height: 56px;
    }
}